@font-face {
  font-family: headings;
  src: url(assets/LeagueSpartan-Bold.otf)
}

@font-face {
  font-family: normal-text;
  src: url(assets/Sen-Regular.otf);
}

@font-face {
  font-family: bold-text;
  src: url(assets/Sen-Bold.otf);
}

body {
  font-family: normal-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: headings;
  color: salmon;
}
#main-nav {
  background: rgba(237, 87, 87);
}

@media screen and (max-width: 1200px){
  #main-nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#header {
  height: 100vh;
  min-height: 550px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #222), url(assets/hero_image.png), linear-gradient(180deg, #eb5757, #eb5757);
  /* background-position: 0px 0px, 100% 30%, 0px 0px; */
  background-position: right bottom;
  /* background-size: auto, auto, 100%; */
  background-size: 45%;
  background-repeat: repeat, no-repeat, repeat;
  background-attachment: scroll, fixed, scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1200px){
  #header {
    background-size: auto;
  }
}

#about-header {
  height: 300px;
  min-height: 250px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #222), linear-gradient(180deg, #eb5757, #eb5757);
  background-size: auto, auto, 100%;
  background-repeat: repeat, no-repeat, repeat;
  background-attachment: scroll, fixed, scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logo-container {
  width: 50%;
  min-width: 300px;
  text-shadow: 2px 2px 5px #222;
}

#logo-container > p {
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
}

#tagline {
  font-family: headings;
  color: white;
}

.primary-btn {
  background-color: salmon;
  color: white;
}

.primary-btn:hover {
  background-color: rgb(122, 63, 56);
  color: white;
}

.second-btn, .second-btn:focus {
  background-color: #122346;
  color: white;
}

.second-btn:hover {
  background-color: #071633;
  color: white;
}

.third-btn, .third-btn:focus {
  background-color: white;
  color: salmon;
  border-color: salmon;
}

.third-btn:hover {
  background-color: salmon;
  color: white;
}

#problem div.card-body {
  padding: 3;
}

#problem{
  width: 75%;
}

.call-to-action{
  width: 50%;
}

@media screen and (max-width: 1200px){
  #problem div.card-body {
    padding: 2 !important;
  }

  #problem{
    width: 100%;
  }

  .call-to-action{
    width: 100% !important;
  }
}

div.polaroid {
  width: 20%;
  min-width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.polaroid > p {
  text-align: center;
  padding: 10px 20px;
}

.polaroid > a {
  text-decoration: none;
  color: black
}

div.polaroid-how {
  width: 25%;
  min-width: 200px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.polaroid-how > p {
  text-align: center;
  padding: 10px 20px;
}

.polaroid-how > a {
  text-decoration: none;
  color: black
}

.poplist {
  display: flex;
  padding: 5px;
}

.poplist-how {
  display: flex;
  padding: 5px;
}

@media screen and (max-width: 1200px){
  .poplist {
    overflow-x: scroll;
  }

  .poplist-how {
    overflow-x: scroll;
  }

  .poplist .polaroid:focus,
  .poplist .polaroid:hover {
    transform: none;
    z-index: 99;
  }
}

.polaroid:not(:last-child) { margin-right: 10px; }
/* 
.poplist:focus-within .item,
.poplist:hover .item {
  transform: translateX(-25%);
}

.polaroid:focus ~ .item,
.polaroid:hover ~ .item {
  transform: translateX(25%);
}

.poplist .polaroid:focus,
.poplist .polaroid:hover {
  transform: scale(1.3);
  z-index: 1;
} */

.seemore > h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  
}

.seemore > img { 
  width: 100%;
  height: auto;
  opacity: 0.3 !important;
}

#footer {
  background-color: #122346;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: salmon;
}

@media screen and (max-width: 1200px){
  .poplist {
    overflow-x: scroll;
  }
}

#footer > h5, #footer > h6 {
  color: white;
}

.socials {
  font-size: 2em;
}

a , a:hover{
  text-decoration: inherit;
  color: salmon;
}

.quick-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mapouter {
  position:relative;
  text-align:right;
  width:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;
}

.modal {
  height: 90%;
}

.modal-body {
  height: 450px;
  overflow-y: scroll;
}

.bold-h, .bold {
  font-family: bold-text;
  color: salmon;
}

.card {
  height: 100%;
}

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.4s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #122346;
  color: #fff;
  transition: all 0.4s;
  height: 100vh;
  min-height: 100vh;

}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding-top: 20px;
  padding-left: 20px;

  background: #122346;
  vertical-align: text-bottom;
}

#sidebar ul.components {
  padding-left : 0px;
  /* border-bottom: 1px solid #47748b; */
  list-style-type: none;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #122346;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #122346;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  /* padding-left: 30px !important; */
  background: #122346;
  list-style-type: none;
}

#content {
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;

  height: 100vh;
  transition: all 0.4s;

  overflow-y: auto;
}

#sidebarCollapse {
  background-color: #122346;
  width: 20px;
  height: 50px;
  padding: 0;

  transition: all 0.4s;
}


@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    position: absolute;
    z-index: 999;
  }

  #sidebar.active {
    margin-left: 0;
    position: absolute;
    z-index: 999;
  }

  #main-content {
    min-width: 90%;
  }
}

.bi-justify {
  color:white
}

.img-thumbnail {
  height: 200px;
  width: 200px;
  object-fit: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dim {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
