@font-face {
  font-family: headings;
  src: url(assets/LeagueSpartan-Bold.otf)
}

@font-face {
  font-family: normal-text;
  src: url(assets/Sen-Regular.otf);
}

@font-face {
  font-family: bold-text;
  src: url(assets/Sen-Bold.otf);
}

body {
  font-family: normal-text;
}

#main-nav {
  background: rgba(237, 87, 87);
}

#header {
  min-height: 550px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #222), url(assets/hero_image.png), linear-gradient(180deg, #eb5757, #eb5757);
  background-position: 0px 0px, 100% 30%, 0px 0px;
  background-size: auto, auto, auto;
  background-repeat: repeat, no-repeat, repeat;
  background-attachment: scroll, fixed, scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#logo-container {
  width: 50%;
  min-width: 300px;
  text-shadow: 2px 2px 5px #222;
}
#logo-container > p {
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
}

.navbar-brand {
  font-family: headings;
}
#tagline {
  font-family: headings;
  color: white;
}

.primary-btn {
  background-color: salmon;
  color: white;
}

.primary-btn:hover {
  background-color: rgb(122, 63, 56);
  color: white;
}

.second-btn, .second-btn:focus {
  background-color: #122346;
  color: white;
}

.second-btn:hover {
  background-color: #071633;
  color: white;
}

.third-btn, .third-btn:focus {
  background-color: white;
  color: salmon;
  border-color: salmon;
}

.third-btn:hover {
  background-color: salmon;
  color: white;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}